a {
    color: #c0392b
}
.text-primary { 
   color: #c0392b
}
.bg-primary {
    background-color: #c0392b
}
.btn-primary {
    background-color: #c0392b;
}
.btn-primary:hover {
    background-color: #c0392b;
}
.badge {
    color: #c0392b;
}
.btn-link {
    color: #c0392b;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #c0392b;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border-color: #c0392b
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #c0392b
}
.pagination>li>a,
.pagination>li>span {
    color: #c0392b;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #c0392b;
    border-color: #c0392b
}
.label-primary {
    background-color: #c0392b
}
.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #c0392b;
}
a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: #c0392b
}
.progress-bar {
    background-color: #c0392b;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #c0392b;
    border-color: #c0392b
}
.panel-primary {
    border-color: #c0392b
}
.panel-primary>.panel-heading {
    background-color: #c0392b;
    border-color: #c0392b
}
.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #c0392b
}
.panel-primary>.panel-heading .badge {
    color: #c0392b;
}
.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #c0392b
}



.c-post-section .c-post-gallery .owl-buttons > div:hover {
    background-color: #c0392b;
}
::-moz-selection {
    background-color: #c0392b;

}

::selection {
    background-color: #c0392b;

}

.mob-menu li a:hover,
.mob-menu .current-menu-item > a,
.mob-menu .current-menu-parent > a,
.mob-menu .current-menu-ancestor > a,
.mob-menu ul li > a:hover > .di,
.mob-menu .current-menu-item > a > .di,
.mob-menu .current-menu-parent > a > .di,
.mob-menu .current-menu-ancestor > a > .di,
.mob-header-content .header-top-menu li a:hover,
.mob-header-content .header-top-menu .current-menu-item > a,
.mob-header-content .header-top-menu .current-menu-parent > a,
.mob-header-content .header-top-menu .current-menu-ancestor > a,
.mob-header-content .header-top-menu ul li > a:hover > .di,
.mob-header-content .header-top-menu .current-menu-item > a > .di,
.mob-header-content .header-top-menu .current-menu-parent > a > .di,
.mob-header-content .header-top-menu .current-menu-ancestor > a > .di, {
    color: #c0392b !important;
}

.sidebar a:not(.button):not(.ui-slider-handle) {
    color: #c0392b;
}

.version1 .header-top {
    background-color: #c0392b;
}

.count-icon,
.event-icon  {
    color: #c0392b;
}

.version1 .desk-cart-toggle span {

    background-color: #c0392b;
}

.version1 .woo-cart .widget_shopping_cart p.buttons > a {
  
    background-color: #c0392b;
}

.version1.effect-underline .desk-menu > ul > li > a:after,
.version1.effect-overline .desk-menu > ul > li > a:after,
.version1.effect-fill .desk-menu > ul > li:hover > a,
.version1.effect-fill .desk-menu > ul > li.one-page-active > a,
.version1.effect-fill .desk-menu > ul > li.current-menu-item > a,
.version1.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.version1.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b;
}
.version1.effect-outline .desk-menu > ul > li:hover > a,
.version1.effect-outline .desk-menu > ul > li.one-page-active > a,
.version1.effect-outline .desk-menu > ul > li.current-menu-item > a,
.version1.effect-outline .desk-menu > ul > li.current-menu-parent > a,
.version1.effect-outline .desk-menu > ul > li.current-menu-ancestor > a {
    box-shadow: inset 0 0 0 2px #c0392b;
}

.version1.fixed-true.active .desk-cart-toggle span {

    background-color: #c0392b;
}

.version1.fixed-true.active.effect-outline .desk-menu > ul > li:hover > a,
.version1.fixed-true.active.effect-outline .desk-menu > ul > li.one-page-active > a,
.version1.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-item > a,
.version1.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-parent > a,
.version1.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-ancestor > a {
    box-shadow: inset 0 0 0 2px #c0392b;
}
.version1.fixed-true.active.effect-underline .desk-menu > ul > li > a:after,
.version1.fixed-true.active.effect-overline .desk-menu > ul > li > a:after,
.version1.fixed-true.active.effect-fill .desk-menu > ul > li:hover > a,
.version1.fixed-true.active.effect-fill .desk-menu > ul > li.one-page-active > a,
.version1.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-item > a,
.version1.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.version1.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b;
}

.version2 .desk-cart-toggle span {

    background-color: #c0392b;
}

.version2 .woo-cart .widget_shopping_cart p.buttons > a {
 
    background-color: #c0392b;
}

.version2.effect-underline .desk-menu > ul > li > a:after,
.version2.effect-overline .desk-menu > ul > li > a:after,
.version2.effect-fill .desk-menu > ul > li:hover > a,
.version2.effect-fill .desk-menu > ul > li.one-page-active > a,
.version2.effect-fill .desk-menu > ul > li.current-menu-item > a,
.version2.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.version2.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b;
 
}
.version2.effect-outline .desk-menu > ul > li:hover > a,
.version2.effect-outline .desk-menu > ul > li.one-page-active > a,
.version2.effect-outline .desk-menu > ul > li.current-menu-item > a,
.version2.effect-outline .desk-menu > ul > li.current-menu-parent > a,
.version2.effect-outline .desk-menu > ul > li.current-menu-ancestor > a {
    box-shadow: inset 0 0 0 2px #c0392b;
}

.version2.fixed-true.active.effect-outline .desk-menu > ul > li:hover > a,
.version2.fixed-true.active.effect-outline .desk-menu > ul > li.one-page-active > a,
.version2.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-item > a,
.version2.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-parent > a,
.version2.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-ancestor > a {
    box-shadow: inset 0 0 0 2px #c0392b;
}
.version2.fixed-true.active.effect-underline .desk-menu > ul > li > a:after,
.version2.fixed-true.active.effect-overline .desk-menu > ul > li > a:after,
.version2.fixed-true.active.effect-fill .desk-menu > ul > li:hover > a,
.version2.fixed-true.active.effect-fill .desk-menu > ul > li.one-page-active > a,
.version2.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-item > a,
.version2.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.version2.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b;
}

.version3 .desk-cart-toggle span {

    background-color: #c0392b;
}

.version3 .woo-cart .widget_shopping_cart p.buttons > a {

    background-color: #c0392b;
}

.version3.effect-underline .desk-menu > ul > li > a:after,
.version3.effect-overline .desk-menu > ul > li > a:after,
.version3.effect-fill .desk-menu > ul > li:hover > a,
.version3.effect-fill .desk-menu > ul > li.one-page-active > a,
.version3.effect-fill .desk-menu > ul > li.current-menu-item > a,
.version3.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.version3.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b
}
.version3.effect-outline .desk-menu > ul > li:hover > a,
.version3.effect-outline .desk-menu > ul > li.one-page-active > a,
.version3.effect-outline .desk-menu > ul > li.current-menu-item > a,
.version3.effect-outline .desk-menu > ul > li.current-menu-parent > a,
.version3.effect-outline .desk-menu > ul > li.current-menu-ancestor > a {
    box-shadow: inset 0 0 0 2px #c0392b;
}
.version3.fixed-true.active .desk-cart-toggle span {

    background-color: #c0392b;
}

.version3.fixed-true.active.effect-outline .desk-menu > ul > li:hover > a,
.version3.fixed-true.active.effect-outline .desk-menu > ul > li.one-page-active > a,
.version3.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-item > a,
.version3.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-parent > a,
.version3.fixed-true.active.effect-outline .desk-menu > ul > li.current-menu-ancestor > a {
    box-shadow: inset 0 0 0 2px #c0392b;
}
.version3.fixed-true.active.effect-underline .desk-menu > ul > li > a:after,
.version3.fixed-true.active.effect-overline .desk-menu > ul > li > a:after,
.version3.fixed-true.active.effect-fill .desk-menu > ul > li:hover > a,
.version3.fixed-true.active.effect-fill .desk-menu > ul > li.one-page-active > a,
.version3.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-item > a,
.version3.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.version3.fixed-true.active.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b;
}
.one-page-bullets a[href*="#"]:hover,
.one-page-bullets .one-page-active a[href*="#"] {
    box-shadow: inset 0 0 0 10px #c0392b;
}
.desk-menu > ul > li > a > .txt .label:before {
    border-color: #c0392b transparent transparent transparent;
}

.header3 .version1.effect-underline .desk-menu > ul > li > a:after,
.header3 .version1.effect-overline .desk-menu > ul > li > a:after,
.header3 .version1.effect-fill .desk-menu > ul > li:hover > a,
.header3 .version1.effect-fill .desk-menu > ul > li.one-page-active > a,
.header3 .version1.effect-fill .desk-menu > ul > li.current-menu-item > a,
.header3 .version1.effect-fill .desk-menu > ul > li.current-menu-parent > a,
.header3 .version1.effect-fill .desk-menu > ul > li.current-menu-ancestor > a {
    background-color: #c0392b;
    box-shadow: inset 0 0 0 2px #c0392b;
}
.header3 .desk-menu > ul > li:hover > a,
.header3 .desk-menu > ul > li.one-page-active > a,
.header3 .desk-menu > ul > li.current-menu-item > a,
.header3 .desk-menu > ul > li.current-menu-parent > a,
.header3 .desk-menu > ul > li.current-menu-ancestor > a {
    color: #c0392b;
}
.header4 .version1 .header-body {
    background-color: #c0392b;
}
.header7 .version1 .header-top {
    background-color: #c0392b;

}

.header9 .version1 .header-body {
    background-color: #c0392b;
}

.br-top3 {
    border-top: 3px solid #c0392b;
}

.right-pie {
    background: #c0392b;

}

.pull-right {
    background: #c0392b;
}

.wp-pagenavi span.current {

    background: #c0392b;
}

.widget-area a:hover {
    color: #c0392b;
}

.current {

    background: #c0392b;
}

.page-link a {
    background-color: #c0392b;

}


p.demo_store {

    background-color: #c0392b;

}

.woocommerce a.remove {

    color: #c0392b!important;

}

.woocommerce span.onsale {

    background-color: #c0392b;

}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #c0392b;

}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #c0392b;

}


.woocommerce .star-rating {

    color: #c0392b;

}

.woocommerce .woocommerce-product-rating .star-rating {
   
    color: #c0392b;
 
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {

    background-color: #c0392b;

}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {

    background-color: #c0392b
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {

    border-top: 3px solid #c0392b;

}

.woocommerce-message {
    border-top-color: #c0392b
}

.woocommerce-message:before {
 
    color: #c0392b
}

.hood-text-skin {

    color: #c0392b;

}