/*-------------------------------------------------------------------------*/
/*  10. Comment Styles

/*-------------------------------------------------------------------------*/

#respond {
    background-color: transparent!important;
    box-shadow: none!important;
    padding: 0px!important;
}
#respond > p,
#respond p.comment-notes,
p.logged-in-as {
    margin-bottom: 10px;
}
p.logged-in-as {
    padding-bottom: 0px;
}
body .comment-list {
    margin-bottom: 40px!important;
    margin-left: 0px;
}
.comment-list li {
    list-style: none!important;
}
.comment-list li.comment > article,
.comment-list li.pingback > article {
    background-color: #FCFCFC;
    margin: 0;
    overflow: hidden;
    padding: 25px;
    margin-top: 2em;
    position: relative;
    padding-left: 116px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
}
.comment-list .children {
    margin-left: 0px!important;
    padding-left: 40px;
    border-left: 1px solid #ddd;
    background-repeat: no-repeat;
    background-position: left 20px;
    background-image: url(img/icons/comment-children-line.jpg);
}
.comment-list li.comment > article img.avatar,
.comment-list li.pingback > article img.avatar {
    position: absolute;
    left: 29px;
    top: 29px;
    width: 60px;
    height: 60px;
}
.comment-list .reply {
    position: absolute;
    top: 29px;
    right: 29px;
}
.comment-list .reply a {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    cursor: pointer;
    padding: 3px 7px;
    font-size: 11px;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    width: auto;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #C4C4C4;
}
.comment-list .comment-author {
    color: #333;
    font-family: 'Open Sans';
    font-weight: 600;
}
.comment-list .comment-meta {
    font-size: 11px;
    line-height: 15px;
}
.comment-list .comment-meta a {
    color: #888;
}
.comment-list .comment-meta a:hover {
    color: #27CFC3;
}
.comment-list .reply a:hover {
    background-color: #616161;
}
.comment-list li.comment > article p,
.comment-list li.pingback > article p {
    padding-bottom: 0px;
    margin-top: 10px;
}
#respond h3 .cancel-comment-reply,
#respond #cancel-comment-reply-link {
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
    border-left: 1px solid #dddddd;
}
#respond h3,
h3#comments {
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: none;
    letter-spacing: -0.5px;
}
.comment-author a {
    color: inherit;
}
#respond input[type=date],
textarea,
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=date],
input[type=text] {
    padding: 10px!important;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #555;
    background-color: #FCFCFC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
input[type=submit] {
    background-color: #262727;
    border: 0px;
    padding: 7px 35px 7px 35px;
    color: #FFFFFF;
}
#respond input[type=submit],
button[type=submit],
input[type="button"] {
    background-color: #333333;
    padding: 7px 11px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    width: auto;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.slick-prev {
    left: 0px !important;
    z-index: 99999;
}
.slick-next {
    right: 0px !important;
    z-index: 99999;
}
/* =WordPress Core

-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
.gallery-caption {} .bypostauthor {} .wp-pagenavi {
    clear: both;
    text-align: center;
}
.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 8px 13px;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    font-size: 13px;
}
.wp-pagenavi a:hover {
    background: #2c2c2c;
    color: #FFF;
}
.wp-pagenavi span.current {
    color: #FFF;
    font-weight: bold;
  
}
table {
    background: #fff;
    margin: 0 0 18px;
    border: 1px solid #ddd;
}
table thead,
table tfoot {
    background: #f5f5f5;
}
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
    display: table-cell;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
table thead tr th,
table tfoot tr td {
    padding: 8px 10px 9px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
}
table thead tr th:first-child,
table tfoot tr td:first-child {
    border-left: none;
}
table thead tr th:last-child,
table tfoot tr td:last-child {
    border-right: none;
}
table tbody tr.even,
table tbody tr.alt {
    background: #f4f4f4;
}
table tbody tr:nth-child(even) {
    background: #f4f4f4;
}
table tbody tr td {
    color: #333;
    padding: 9px 10px;
    vertical-align: top;
    border: none;
}
table {
    width: 100%;
}
th,
td {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24.99px;
    text-transform: none;
    letter-spacing: 0px;
    word-spacing: 0;
    color: #565656;
    direction: ltr;
    padding-left: 10px;
}
ul,
ol,
dl {
    line-height: 1.8;
    list-style-position: inside;
}
ul li ul,
ul li ol {
    margin-left: 20px;
    margin-bottom: 0;
}
ol {
    margin-left: 20px;
}
ol li ul,
ol li ol {
    margin-left: 20px;
    margin-bottom: 0;
}
img,
object,
embed {
    max-width: 100%;
}
..sticky {
    top: 0;
    position: fixed;
}
.post-tags {
    float: left;
    overflow: visible;
    padding-bottom: 0;
}
.post-tags ul {
    overflow: visible;
    margin-bottom: 0;
    list-style: none;
}
.post-tags ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 4px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 3px 1px transparent;
    box-shadow: 0 2px 3px 1px transparent;
    -webkit-transform: perspective(0);
    -moz-transform: perspective(0);
    -o-transform: perspective(0);
    transform: perspective(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.post-tags ul li a {
    display: block;
    line-height: inherit;
}
.post-tags-item a {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #28262b;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.tag-single {
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #28262b;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    background-color: #CCC !important;
}
.widget_archive ul,
.widget-area ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    list-style: none;
    margin: 0;
}
.widget-area a {
    color: #747474;
}

select {
    width: 100%;
}
/**

 * 11.0 Widgets

 */

.widget {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 100%;
    word-wrap: break-word;
}
.widget pre {
    line-height: 1.2;
}
.widget button,
.widget input,
.widget select,
.widget textarea {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}
.widget button,
.widget input {
    line-height: normal;
}
.widget button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 16px 1.5833em;
}
.widget input[type="text"],
.widget input[type="email"],
.widget input[type="url"],
.widget input[type="password"],
.widget input[type="search"],
.widget textarea {
    padding: 0.375em;
}
.widget-title {
    color: #333;
    font-family: "Noto Sans", sans-serif;
    margin: 0 0 1.6em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.widget >:last-child {
    margin-bottom: 0;
}
.widget_calendar table {
    margin: 0;
}
.widget_calendar td,
.widget_calendar th {
    line-height: 2.3333;
    text-align: center;
    padding: 0;
}
.widget_calendar caption {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    margin: 0 0 1.6em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.widget_calendar tbody a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #333;
    color: #fff;
    display: block;
    font-weight: 700;
}
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
    background-color: #707070;
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
}
.widget_archive a,
.widget_categories a,
.widget_links a,
.widget_meta a,
.widget_nav_menu a,
.widget_pages a,
.widget_recent_comments a,
.widget_recent_entries a {
    border: 0;
}
.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    list-style: none;
    margin: 0;
}
.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding: 0.7667em 0;
}
.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_links li:first-child,
.widget_meta li:first-child,
.widget_nav_menu li:first-child,
.widget_pages li:first-child,
.widget_recent_comments li:first-child,
.widget_recent_entries li:first-child {
    border-top: 0;
    padding-top: 0;
}
.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_links li:last-child,
.widget_meta li:last-child,
.widget_nav_menu li:last-child,
.widget_pages li:last-child,
.widget_recent_comments li:last-child,
.widget_recent_entries li:last-child {
    padding-bottom: 0;
}
.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    margin: 0.7667em 0 0 0.8em;
    padding-top: 0.7667em;
}
.widget_recent_entries .post-date {
    display: block;
}
.widget_rss ul {
    list-style: none;
    margin: 0;
}
.widget_rss li {
    margin-bottom: 1.6em;
}
.widget_rss ul:last-child,
.widget_rss li:last-child {
    margin-bottom: 0;
}
.widget_rss .rsswidget {
    border: 0;
    font-weight: 700;
}
.widget_rss .rsswidget img {
    margin-top: -4px;
}
.widget_rss .rss-date,
.widget_rss cite {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-style: normal;
    display: block;
    line-height: 2;
    opacity: 0.8;
}
.textwidget >:last-child {
    margin-bottom: 0;
}
.textwidget a {
    border-bottom: 1px solid #333;
}
.textwidget a:hover,
.textwidget a:focus {
    border-bottom: 0;
}
.page-numbers {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 8px 13px;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    font-size: 13px;
}
.current {
    color: #FFF;
    font-weight: bold;
  
}
.pagination-center {
    text-align: center;
}
.c-header-info {
    list-style: none;
}
.c-header-info ul {
    list-style: none;
}
.c-prepfooter li {
    list-style: none;
}
.cat-min-height {
    min-height: 360px;
}
/*-- WooCommerce */

.woo-mt {
    margin-top: 40px;
}
.border-none {
    border: none !important;
}
.search-wi {
    width: 172px;
}
.photography h2 {
    font-size: 18px !important;
}
.cmarbot-61 {
    margin-bottom: -61px;
}
.hood_mt35 {
    margin-top: 35px;
}
@media (max-width: 991px) and (min-width: 768px) {
    .c-layout-header .navbar .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 991px) {
    .c-layout-header .navbar .navbar-collapse .c-header-navigation,
    .c-layout-header .navbar .navbar-collapse .c-header-navigation > li {
        float: none !important;
    }
    .hood-woo-mini-cart {
        float: none !important;
        padding: 0 0 10px !important;
        margin: 0 !important;
    }
}



/* New */





@font-face {
    font-family: icomoon;
    src: url(fonts/icomoon.eot);
    src: url(fonts/icomoond41d.eot?#iefix) format('embedded-opentype'), url(fonts/icomoon.woff) format('woff'), url(fonts/icomoon.ttf) format('truetype'), url(fonts/icomoon.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-home:before {
    content: "\e600"
}
.icon-home2:before {
    content: "\e601"
}
.icon-home3:before {
    content: "\e602"
}
.icon-office:before {
    content: "\e603"
}
.icon-newspaper:before {
    content: "\e604"
}
.icon-pencil:before {
    content: "\e605"
}
.icon-pencil2:before {
    content: "\e606"
}
.icon-quill:before {
    content: "\e607"
}
.icon-pen:before {
    content: "\e608"
}
.icon-blog:before {
    content: "\e609"
}
.icon-droplet:before {
    content: "\e60a"
}
.icon-paint-format:before {
    content: "\e60b"
}
.icon-image:before {
    content: "\e60c"
}
.icon-image2:before {
    content: "\e60d"
}
.icon-images:before {
    content: "\e60e"
}
.icon-camera:before {
    content: "\e60f"
}
.icon-music:before {
    content: "\e610"
}
.icon-headphones:before {
    content: "\e611"
}
.icon-play:before {
    content: "\e612"
}
.icon-film:before {
    content: "\e613"
}
.icon-camera2:before {
    content: "\e614"
}
.icon-dice:before {
    content: "\e615"
}
.icon-pacman:before {
    content: "\e616"
}
.icon-spades:before {
    content: "\e617"
}
.icon-clubs:before {
    content: "\e618"
}
.icon-diamonds:before {
    content: "\e619"
}
.icon-pawn:before {
    content: "\e61a"
}
.icon-bulldeskn:before {
    content: "\e61b"
}
.icon-connection:before {
    content: "\e61c"
}
.icon-podcast:before {
    content: "\e61d"
}
.icon-feed:before {
    content: "\e61e"
}
.icon-book:before {
    content: "\e61f"
}
.icon-books:before {
    content: "\e620"
}
.icon-library:before {
    content: "\e621"
}
.icon-file:before {
    content: "\e622"
}
.icon-profile:before {
    content: "\e623"
}
.icon-file2:before {
    content: "\e624"
}
.icon-file3:before {
    content: "\e625"
}
.icon-file4:before {
    content: "\e626"
}
.icon-copy:before {
    content: "\e627"
}
.icon-copy2:before {
    content: "\e628"
}
.icon-copy3:before {
    content: "\e629"
}
.icon-paste:before {
    content: "\e62a"
}
.icon-paste2:before {
    content: "\e62b"
}
.icon-paste3:before {
    content: "\e62c"
}
.icon-stack:before {
    content: "\e62d"
}
.icon-folder:before {
    content: "\e62e"
}
.icon-folder-open:before {
    content: "\e62f"
}
.icon-tag:before {
    content: "\e630"
}
.icon-tags:before {
    content: "\e631"
}
.icon-barcode:before {
    content: "\e632"
}
.icon-qrcode:before {
    content: "\e633"
}
.icon-ticket:before {
    content: "\e634"
}
.icon-cart:before {
    content: "\e635"
}
.icon-cart2:before {
    content: "\e636"
}
.icon-cart3:before {
    content: "\e637"
}
.icon-coin:before {
    content: "\e638"
}
.icon-credit:before {
    content: "\e639"
}
.icon-calculate:before {
    content: "\e63a"
}
.icon-support:before {
    content: "\e63b"
}
.icon-phone:before {
    content: "\e63c"
}
.icon-phone-hang-up:before {
    content: "\e63d"
}
.icon-address-book:before {
    content: "\e63e"
}
.icon-notebook:before {
    content: "\e63f"
}
.icon-envelope:before {
    content: "\e640"
}
.icon-pushpin:before {
    content: "\e641"
}
.icon-location:before {
    content: "\e640"
}
.icon-location2:before {
    content: "\e643"
}
.icon-compass:before {
    content: "\e644"
}
.icon-map:before {
    content: "\e645"
}
.icon-map2:before {
    content: "\e646"
}
.icon-history:before {
    content: "\e647"
}
.icon-clock:before {
    content: "\e648"
}
.icon-clock2:before {
    content: "\e649"
}
.icon-alarm:before {
    content: "\e64a"
}
.icon-alarm2:before {
    content: "\e64b"
}
.icon-bell:before {
    content: "\e64c"
}
.icon-stopwatch:before {
    content: "\e64d"
}
.icon-calendar:before {
    content: "\e64e"
}
.icon-calendar2:before {
    content: "\e64f"
}
.icon-print:before {
    content: "\e650"
}
.icon-keyboard:before {
    content: "\e651"
}
.icon-screen:before {
    content: "\e652"
}
.icon-laptop:before {
    content: "\e653"
}
.icon-mob:before {
    content: "\e654"
}
.icon-mob2:before {
    content: "\e655"
}
.icon-tablet:before {
    content: "\e656"
}
.icon-tv:before {
    content: "\e657"
}
.icon-cabinet:before {
    content: "\e658"
}
.icon-drawer:before {
    content: "\e659"
}
.icon-drawer2:before {
    content: "\e65a"
}
.icon-drawer3:before {
    content: "\e65b"
}
.icon-box-add:before {
    content: "\e65c"
}
.icon-box-remove:before {
    content: "\e65d"
}
.icon-download:before {
    content: "\e65e"
}
.icon-upload:before {
    content: "\e65f"
}
.icon-disk:before {
    content: "\e660"
}
.icon-storage:before {
    content: "\e661"
}
.icon-undo:before {
    content: "\e662"
}
.icon-redo:before {
    content: "\e663"
}
.icon-flip:before {
    content: "\e664"
}
.icon-flip2:before {
    content: "\e665"
}
.icon-undo2:before {
    content: "\e666"
}
.icon-redo2:before {
    content: "\e667"
}
.icon-forward:before {
    content: "\e668"
}
.icon-reply:before {
    content: "\e669"
}
.icon-bubble:before {
    content: "\e66a"
}
.icon-bubbles:before {
    content: "\e66b"
}
.icon-bubbles2:before {
    content: "\e66c"
}
.icon-bubble2:before {
    content: "\e66d"
}
.icon-bubbles3:before {
    content: "\e66e"
}
.icon-bubbles4:before {
    content: "\e66f"
}
.icon-user:before {
    content: "\e670"
}
.icon-users:before {
    content: "\e671"
}
.icon-user2:before {
    content: "\e672"
}
.icon-users2:before {
    content: "\e673"
}
.icon-user3:before {
    content: "\e674"
}
.icon-user4:before {
    content: "\e675"
}
.icon-quotes-left:before {
    content: "\e676"
}
.icon-busy:before {
    content: "\e677"
}
.icon-spinner:before {
    content: "\e678"
}
.icon-spinner2:before {
    content: "\e679"
}
.icon-spinner3:before {
    content: "\e67a"
}
.icon-spinner4:before {
    content: "\e67b"
}
.icon-spinner5:before {
    content: "\e67c"
}
.icon-spinner6:before {
    content: "\e67d"
}
.icon-binoculars:before {
    content: "\e67e"
}
.icon-search:before {
    content: "\e67f"
}
.icon-zoomin:before {
    content: "\e680"
}
.icon-zoomout:before {
    content: "\e681"
}
.icon-expand:before {
    content: "\e682"
}
.icon-contract:before {
    content: "\e683"
}
.icon-expand2:before {
    content: "\e684"
}
.icon-contract2:before {
    content: "\e685"
}
.icon-key:before {
    content: "\e686"
}
.icon-key2:before {
    content: "\e687"
}
.icon-lock:before {
    content: "\e688"
}
.icon-lock2:before {
    content: "\e689"
}
.icon-unlocked:before {
    content: "\e68a"
}
.icon-wrench:before {
    content: "\e68b"
}
.icon-settings:before {
    content: "\e68c"
}
.icon-equalizer:before {
    content: "\e68d"
}
.icon-cog:before {
    content: "\e68e"
}
.icon-cogs:before {
    content: "\e68f"
}
.icon-cog2:before {
    content: "\e690"
}
.icon-hammer:before {
    content: "\e691"
}
.icon-wand:before {
    content: "\e692"
}
.icon-aid:before {
    content: "\e693"
}
.icon-bug:before {
    content: "\e694"
}
.icon-pie:before {
    content: "\e695"
}
.icon-stats:before {
    content: "\e696"
}
.icon-bars:before {
    content: "\e697"
}
.icon-bars2:before {
    content: "\e698"
}
.icon-gift:before {
    content: "\e699"
}
.icon-trophy:before {
    content: "\e69a"
}
.icon-glass:before {
    content: "\e69b"
}
.icon-mug:before {
    content: "\e69c"
}
.icon-food:before {
    content: "\e69d"
}
.icon-leaf:before {
    content: "\e69e"
}
.icon-rocket:before {
    content: "\e69f"
}
.icon-meter:before {
    content: "\e6a0"
}
.icon-meter2:before {
    content: "\e6a1"
}
.icon-dashboard:before {
    content: "\e6a2"
}
.icon-hammer2:before {
    content: "\e6a3"
}
.icon-fire:before {
    content: "\e6a4"
}
.icon-lab:before {
    content: "\e6a5"
}
.icon-magnet:before {
    content: "\e6a6"
}
.icon-remove:before {
    content: "\e6a7"
}
.icon-remove2:before {
    content: "\e6a8"
}
.icon-briefcase:before {
    content: "\e6a9"
}
.icon-airplane:before {
    content: "\e6aa"
}
.icon-truck:before {
    content: "\e6ab"
}
.icon-road:before {
    content: "\e6ac"
}
.icon-accessibility:before {
    content: "\e6ad"
}
.icon-target:before {
    content: "\e6ae"
}
.icon-shield:before {
    content: "\e6af"
}
.icon-lightning:before {
    content: "\e6b0"
}
.icon-switch:before {
    content: "\e6b1"
}
.icon-powercord:before {
    content: "\e6b2"
}
.icon-signup:before {
    content: "\e6b3"
}
.icon-list:before {
    content: "\e6b4"
}
.icon-list2:before {
    content: "\e6b5"
}
.icon-numbered-list:before {
    content: "\e6b6"
}
.icon-menu:before {
    content: "\e6b7"
}
.icon-menu2:before {
    content: "\e6b8"
}
.icon-tree:before {
    content: "\e6b9"
}
.icon-cloud:before {
    content: "\e6ba"
}
.icon-cloud-download:before {
    content: "\e6bb"
}
.icon-cloud-upload:before {
    content: "\e6bc"
}
.icon-download2:before {
    content: "\e6bd"
}
.icon-upload2:before {
    content: "\e6be"
}
.icon-download3:before {
    content: "\e6bf"
}
.icon-upload3:before {
    content: "\e6c0"
}
.icon-globe:before {
    content: "\e6c1"
}
.icon-earth:before {
    content: "\e6c2"
}
.icon-link:before {
    content: "\e6c3"
}
.icon-flag:before {
    content: "\e6c4"
}
.icon-attachment:before {
    content: "\e6c5"
}
.icon-eye:before {
    content: "\e6c6"
}
.icon-eye-blocked:before {
    content: "\e6c7"
}
.icon-eye2:before {
    content: "\e6c8"
}
.icon-bookmark:before {
    content: "\e6c9"
}
.icon-bookmarks:before {
    content: "\e6ca"
}
.icon-brightness-medium:before {
    content: "\e6cb"
}
.icon-brightness-contrast:before {
    content: "\e6cc"
}
.icon-contrast:before {
    content: "\e6cd"
}
.icon-star:before {
    content: "\e6ce"
}
.icon-star2:before {
    content: "\e6cf"
}
.icon-star3:before {
    content: "\e6d0"
}
.icon-heart:before {
    content: "\e6d1"
}
.icon-heart2:before {
    content: "\e6d2"
}
.icon-heart-broken:before {
    content: "\e6d3"
}
.icon-thumbs-up:before {
    content: "\e6d4"
}
.icon-thumbs-up2:before {
    content: "\e6d5"
}
.icon-happy:before {
    content: "\e6d6"
}
.icon-happy2:before {
    content: "\e6d7"
}
.icon-smiley:before {
    content: "\e6d8"
}
.icon-smiley2:before {
    content: "\e6d9"
}
.icon-tongue:before {
    content: "\e6da"
}
.icon-tongue2:before {
    content: "\e6db"
}
.icon-sad:before {
    content: "\e6dc"
}
.icon-sad2:before {
    content: "\e6dd"
}
.icon-wink:before {
    content: "\e6de"
}
.icon-wink2:before {
    content: "\e6df"
}
.icon-grin:before {
    content: "\e6e0"
}
.icon-grin2:before {
    content: "\e6e1"
}
.icon-cool:before {
    content: "\e6e2"
}
.icon-cool2:before {
    content: "\e6e3"
}
.icon-angry:before {
    content: "\e6e4"
}
.icon-angry2:before {
    content: "\e6e5"
}
.icon-evil:before {
    content: "\e6e6"
}
.icon-evil2:before {
    content: "\e6e7"
}
.icon-shocked:before {
    content: "\e6e8"
}
.icon-shocked2:before {
    content: "\e6e9"
}
.icon-confused:before {
    content: "\e6ea"
}
.icon-confused2:before {
    content: "\e6eb"
}
.icon-neutral:before {
    content: "\e6ec"
}
.icon-neutral2:before {
    content: "\e6ed"
}
.icon-wondering:before {
    content: "\e6ee"
}
.icon-wondering2:before {
    content: "\e6ef"
}
.icon-point-up:before {
    content: "\e6f0"
}
.icon-point-right:before {
    content: "\e6f1"
}
.icon-point-down:before {
    content: "\e6f2"
}
.icon-point-left:before {
    content: "\e6f3"
}
.icon-warning:before {
    content: "\e6f4"
}
.icon-notification:before {
    content: "\e6f5"
}
.icon-question:before {
    content: "\e6f6"
}
.icon-info:before {
    content: "\e6f7"
}
.icon-info2:before {
    content: "\e6f8"
}
.icon-blocked:before {
    content: "\e6f9"
}
.icon-cancel-circle:before {
    content: "\e6fa"
}
.icon-checkmark-circle:before {
    content: "\e6fb"
}
.icon-spam:before {
    content: "\e6fc"
}
.icon-close:before {
    content: "\e6fd"
}
.icon-checkmark:before {
    content: "\e6fe"
}
.icon-checkmark2:before {
    content: "\e6ff"
}
.icon-spell-check:before {
    content: "\e700"
}
.icon-minus:before {
    content: "\e701"
}
.icon-plus:before {
    content: "\e702"
}
.icon-enter:before {
    content: "\e703"
}
.icon-exit:before {
    content: "\e704"
}
.icon-play2:before {
    content: "\e705"
}
.icon-pause:before {
    content: "\e706"
}
.icon-stop:before {
    content: "\e707"
}
.icon-backward:before {
    content: "\e708"
}
.icon-forward2:before {
    content: "\e709"
}
.icon-play3:before {
    content: "\e70a"
}
.icon-pause2:before {
    content: "\e70b"
}
.icon-stop2:before {
    content: "\e70c"
}
.icon-backward2:before {
    content: "\e70d"
}
.icon-forward3:before {
    content: "\e70e"
}
.icon-first:before {
    content: "\e70f"
}
.icon-last:before {
    content: "\e710"
}
.icon-previous:before {
    content: "\e711"
}
.icon-next:before {
    content: "\e712"
}
.icon-eject:before {
    content: "\e713"
}
.icon-volume-high:before {
    content: "\e714"
}
.icon-volume-medium:before {
    content: "\e715"
}
.icon-volume-low:before {
    content: "\e716"
}
.icon-volume-mute:before {
    content: "\e717"
}
.icon-volume-mute2:before {
    content: "\e718"
}
.icon-volume-increase:before {
    content: "\e719"
}
.icon-volume-decrease:before {
    content: "\e71a"
}
.icon-loop:before {
    content: "\e71b"
}
.icon-loop2:before {
    content: "\e71c"
}
.icon-loop3:before {
    content: "\e71d"
}
.icon-shuffle:before {
    content: "\e71e"
}
.icon-arrow-up-left:before {
    content: "\e71f"
}
.icon-arrow-up:before {
    content: "\e720"
}
.icon-arrow-up-right:before {
    content: "\e721"
}
.icon-arrow-right:before {
    content: "\e722"
}
.icon-arrow-down-right:before {
    content: "\e723"
}
.icon-arrow-down:before {
    content: "\e724"
}
.icon-arrow-down-left:before {
    content: "\e725"
}
.icon-arrow-left:before {
    content: "\e726"
}
.icon-arrow-up-left2:before {
    content: "\e727"
}
.icon-arrow-up2:before {
    content: "\e728"
}
.icon-arrow-up-right2:before {
    content: "\e729"
}
.icon-arrow-right2:before {
    content: "\e72a"
}
.icon-arrow-down-right2:before {
    content: "\e72b"
}
.icon-arrow-down2:before {
    content: "\e72c"
}
.icon-arrow-down-left2:before {
    content: "\e72d"
}
.icon-arrow-left2:before {
    content: "\e72e"
}
.icon-arrow-up-left3:before {
    content: "\e72f"
}
.icon-arrow-up3:before {
    content: "\e730"
}
.icon-arrow-up-right3:before {
    content: "\e731"
}
.icon-arrow-right3:before {
    content: "\e732"
}
.icon-arrow-down-right3:before {
    content: "\e733"
}
.icon-arrow-down3:before {
    content: "\e734"
}
.icon-arrow-down-left3:before {
    content: "\e735"
}
.icon-arrow-left3:before {
    content: "\e736"
}
.icon-tab:before {
    content: "\e737"
}
.icon-checkbox-checked:before {
    content: "\e738"
}
.icon-checkbox-unchecked:before {
    content: "\e739"
}
.icon-checkbox-partial:before {
    content: "\e73a"
}
.icon-radio-checked:before {
    content: "\e73b"
}
.icon-radio-unchecked:before {
    content: "\e73c"
}
.icon-crop:before {
    content: "\e73d"
}
.icon-scissors:before {
    content: "\e73e"
}
.icon-filter:before {
    content: "\e73f"
}
.icon-filter2:before {
    content: "\e740"
}
.icon-font:before {
    content: "\e741"
}
.icon-text-height:before {
    content: "\e740"
}
.icon-text-width:before {
    content: "\e743"
}
.icon-bold:before {
    content: "\e744"
}
.icon-upperline:before {
    content: "\e745"
}
.icon-italic:before {
    content: "\e746"
}
.icon-strikethrough:before {
    content: "\e747"
}
.icon-omega:before {
    content: "\e748"
}
.icon-sigma:before {
    content: "\e749"
}
.icon-table:before {
    content: "\e74a"
}
.icon-table2:before {
    content: "\e74b"
}
.icon-insert-template:before {
    content: "\e74c"
}
.icon-pilcrow:before {
    content: "\e74d"
}
.icon-lefttoright:before {
    content: "\e74e"
}
.icon-righttoleft:before {
    content: "\e74f"
}
.icon-paragraph-left:before {
    content: "\e750"
}
.icon-paragraph-center:before {
    content: "\e751"
}
.icon-paragraph-right:before {
    content: "\e752"
}
.icon-paragraph-justify:before {
    content: "\e753"
}
.icon-paragraph-left2:before {
    content: "\e754"
}
.icon-paragraph-center2:before {
    content: "\e755"
}
.icon-paragraph-right2:before {
    content: "\e756"
}
.icon-paragraph-justify2:before {
    content: "\e757"
}
.icon-indent-increase:before {
    content: "\e758"
}
.icon-indent-decrease:before {
    content: "\e759"
}
.icon-newtab:before {
    content: "\e75a"
}
.icon-embed:before {
    content: "\e75b"
}
.icon-code:before {
    content: "\e75c"
}
.icon-console:before {
    content: "\e75d"
}
.icon-share:before {
    content: "\e75e"
}
.icon-mail:before {
    content: "\e75f"
}
.icon-mail2:before {
    content: "\e760"
}
.icon-mail3:before {
    content: "\e761"
}
.icon-mail4:before {
    content: "\e762"
}
.icon-google:before {
    content: "\e763"
}
.icon-googleplus:before {
    content: "\e764"
}
.icon-googleplus2:before {
    content: "\e765"
}
.icon-googleplus3:before {
    content: "\e766"
}
.icon-googleplus4:before {
    content: "\e767"
}
.icon-google-drive:before {
    content: "\e768"
}
.icon-facebook:before {
    content: "\e769"
}
.icon-facebook2:before {
    content: "\e76a"
}
.icon-facebook3:before {
    content: "\e76b"
}
.icon-instagram:before {
    content: "\e76c"
}
.icon-twitter:before {
    content: "\e76d"
}
.icon-twitter2:before {
    content: "\e76e"
}
.icon-twitter3:before {
    content: "\e76f"
}
.icon-feed2:before {
    content: "\e770"
}
.icon-feed3:before {
    content: "\e771"
}
.icon-feed4:before {
    content: "\e772"
}
.icon-youtube:before {
    content: "\e773"
}
.icon-youtube2:before {
    content: "\e774"
}
.icon-vimeo:before {
    content: "\e775"
}
.icon-vimeo2:before {
    content: "\e776"
}
.icon-vimeo3:before {
    content: "\e777"
}
.icon-lanyrd:before {
    content: "\e778"
}
.icon-flickr:before {
    content: "\e779"
}
.icon-flickr2:before {
    content: "\e77a"
}
.icon-flickr3:before {
    content: "\e77b"
}
.icon-flickr4:before {
    content: "\e77c"
}
.icon-picassa:before {
    content: "\e77d"
}
.icon-picassa2:before {
    content: "\e77e"
}
.icon-dribbble:before {
    content: "\e77f"
}
.icon-dribbble2:before {
    content: "\e780"
}
.icon-dribbble3:before {
    content: "\e781"
}
.icon-forrst:before {
    content: "\e782"
}
.icon-forrst2:before {
    content: "\e783"
}
.icon-deviantart:before {
    content: "\e784"
}
.icon-deviantart2:before {
    content: "\e785"
}
.icon-steam:before {
    content: "\e786"
}
.icon-steam2:before {
    content: "\e787"
}
.icon-github:before {
    content: "\e788"
}
.icon-github2:before {
    content: "\e789"
}
.icon-github3:before {
    content: "\e78a"
}
.icon-github4:before {
    content: "\e78b"
}
.icon-github5:before {
    content: "\e78c"
}
.icon-wordpress:before {
    content: "\e78d"
}
.icon-wordpress2:before {
    content: "\e78e"
}
.icon-joomla:before {
    content: "\e78f"
}
.icon-blogger:before {
    content: "\e790"
}
.icon-blogger2:before {
    content: "\e791"
}
.icon-tumblr:before {
    content: "\e792"
}
.icon-tumblr2:before {
    content: "\e793"
}
.icon-yahoo:before {
    content: "\e794"
}
.icon-tux:before {
    content: "\e795"
}
.icon-apple:before {
    content: "\e796"
}
.icon-finder:before {
    content: "\e797"
}
.icon-android:before {
    content: "\e798"
}
.icon-windows:before {
    content: "\e799"
}
.icon-windows8:before {
    content: "\e79a"
}
.icon-soundcloud:before {
    content: "\e79b"
}
.icon-soundcloud2:before {
    content: "\e79c"
}
.icon-skype:before {
    content: "\e79d"
}
.icon-reddit:before {
    content: "\e79e"
}
.icon-linkedin:before {
    content: "\e79f"
}
.icon-lastfm:before {
    content: "\e7a0"
}
.icon-lastfm2:before {
    content: "\e7a1"
}
.icon-delicious:before {
    content: "\e7a2"
}
.icon-stumbleupon:before {
    content: "\e7a3"
}
.icon-stumbleupon2:before {
    content: "\e7a4"
}
.icon-stackoverflow:before {
    content: "\e7a5"
}
.icon-pinterest:before {
    content: "\e7a6"
}
.icon-pinterest2:before {
    content: "\e7a7"
}
.icon-xing:before {
    content: "\e7a8"
}
.icon-xing2:before {
    content: "\e7a9"
}
.icon-flattr:before {
    content: "\e7aa"
}
.icon-foursquare:before {
    content: "\e7ab"
}
.icon-foursquare2:before {
    content: "\e7ac"
}
.icon-paypal:before {
    content: "\e7ad"
}
.icon-paypal2:before {
    content: "\e7ae"
}
.icon-paypal3:before {
    content: "\e7af"
}
.icon-yelp:before {
    content: "\e7b0"
}
.icon-libreoffice:before {
    content: "\e7b1"
}
.icon-file-pdf:before {
    content: "\e7b2"
}
.icon-file-openoffice:before {
    content: "\e7b3"
}
.icon-file-word:before {
    content: "\e7b4"
}
.icon-file-excel:before {
    content: "\e7b5"
}
.icon-file-zip:before {
    content: "\e7b6"
}
.icon-file-powerpoint:before {
    content: "\e7b7"
}
.icon-file-xml:before {
    content: "\e7b8"
}
.icon-file-css:before {
    content: "\e7b9"
}
.icon-html5:before {
    content: "\e7ba"
}
.icon-html52:before {
    content: "\e7bb"
}
.icon-css3:before {
    content: "\e7bc"
}
.icon-chrome:before {
    content: "\e7bd"
}
.icon-firefox:before {
    content: "\e7be"
}
.icon-IE:before {
    content: "\e7bf"
}
.icon-opera:before {
    content: "\e7c0"
}
.icon-safari:before {
    content: "\e7c1"
}
.icon-IcoMoon:before {
    content: "\e7c2"
}
.icon-store:before {
    content: "\e7c3"
}
.icon-out:before {
    content: "\e7c4"
}
.icon-in:before {
    content: "\e7c5"
}
.icon-in-alt:before {
    content: "\e7c6"
}
.icon-home4:before {
    content: "\e7c7"
}
.icon-lightbulb:before {
    content: "\e7c8"
}
.icon-ancdesk:before {
    content: "\e7c9"
}
.icon-feather:before {
    content: "\e7ca"
}
.icon-expand3:before {
    content: "\e7cb"
}
.icon-maximize:before {
    content: "\e7cc"
}
.icon-search2:before {
    content: "\e7cd"
}
.icon-zoomin2:before {
    content: "\e7ce"
}
.icon-zoomout2:before {
    content: "\e7cf"
}
.icon-add:before {
    content: "\e7d0"
}
.icon-subtract:before {
    content: "\e7d1"
}
.icon-exclamation:before {
    content: "\e7d2"
}
.icon-question2:before {
    content: "\e7d3"
}
.icon-close2:before {
    content: "\e7d4"
}
.icon-cmd:before {
    content: "\e7d5"
}
.icon-forbid:before {
    content: "\e7d6"
}
.icon-book2:before {
    content: "\e7d7"
}
.icon-spinner7:before {
    content: "\e7d8"
}
.icon-play4:before {
    content: "\e7d9"
}
.icon-stop3:before {
    content: "\e7da"
}
.icon-pause3:before {
    content: "\e7db"
}
.icon-forward4:before {
    content: "\e7dc"
}
.icon-rewind:before {
    content: "\e7dd"
}
.icon-sound:before {
    content: "\e7de"
}
.icon-sound-alt:before {
    content: "\e7df"
}
.icon-soundoff:before {
    content: "\e7e0"
}
.icon-task:before {
    content: "\e7e1"
}
.icon-inbox:before {
    content: "\e7e2"
}
.icon-inbox-alt:before {
    content: "\e7e3"
}
.icon-envelope2:before {
    content: "\e7e4"
}
.icon-compose:before {
    content: "\e7e5"
}
.icon-newspaper2:before {
    content: "\e7e6"
}
.icon-newspaper-alt:before {
    content: "\e7e7"
}
.icon-clipboard:before {
    content: "\e7e8"
}
.icon-calendar3:before {
    content: "\e7e9"
}
.icon-hyperlink:before {
    content: "\e7ea"
}
.icon-trash:before {
    content: "\e7eb"
}
.icon-trash-alt:before {
    content: "\e7ec"
}
.icon-grid:before {
    content: "\e7ed"
}
.icon-grid-alt:before {
    content: "\e7ee"
}
.icon-menu3:before {
    content: "\e7ef"
}
.icon-list3:before {
    content: "\e7f0"
}
.icon-gallery:before {
    content: "\e7f1"
}
.icon-calculator:before {
    content: "\e7f2"
}
.icon-windows2:before {
    content: "\e7f3"
}
.icon-browser:before {
    content: "\e7f4"
}
.icon-alarm3:before {
    content: "\e7f5"
}
.icon-clock3:before {
    content: "\e7f6"
}
.icon-attachment2:before {
    content: "\e7f7"
}
.icon-settings2:before {
    content: "\e7f8"
}
.icon-portfolio:before {
    content: "\e7f9"
}
.icon-user5:before {
    content: "\e7fa"
}
.icon-users3:before {
    content: "\e7fb"
}
.icon-heart3:before {
    content: "\e7fc"
}
.icon-chat:before {
    content: "\e7fd"
}
.icon-comments:before {
    content: "\e7fe"
}
.icon-screen2:before {
    content: "\e7ff"
}
.icon-iphone:before {
    content: "\e800"
}
.icon-ipad:before {
    content: "\e801"
}
.icon-forkandspoon:before {
    content: "\e802"
}
.icon-forkandknife:before {
    content: "\e803"
}
.icon-instagram2:before {
    content: "\e804"
}
.icon-facebook4:before {
    content: "\e805"
}
.icon-delicious2:before {
    content: "\e806"
}
.icon-googleplus5:before {
    content: "\e807"
}
.icon-dribbble4:before {
    content: "\e808"
}
.icon-pin:before {
    content: "\e809"
}
.icon-pin-alt:before {
    content: "\e80a"
}
.icon-camera3:before {
    content: "\e80b"
}
.icon-brightness:before {
    content: "\e80c"
}
.icon-brightness-half:before {
    content: "\e80d"
}
.icon-moon:before {
    content: "\e80e"
}
.icon-cloud2:before {
    content: "\e80f"
}
.icon-circle-full:before {
    content: "\e810"
}
.icon-circle-half:before {
    content: "\e811"
}
.icon-globe2:before {
    content: "\e812"
}
.icon-heart4:before {
    content: "\e813"
}
.icon-cloud3:before {
    content: "\e814"
}
.icon-star4:before {
    content: "\e815"
}
.icon-tv2:before {
    content: "\e816"
}
.icon-sound2:before {
    content: "\e817"
}
.icon-video:before {
    content: "\e818"
}
.icon-trash2:before {
    content: "\e819"
}
.icon-user6:before {
    content: "\e81a"
}
.icon-key3:before {
    content: "\e81b"
}
.icon-search3:before {
    content: "\e81c"
}
.icon-settings3:before {
    content: "\e81d"
}
.icon-camera4:before {
    content: "\e81e"
}
.icon-tag2:before {
    content: "\e81f"
}
.icon-lock3:before {
    content: "\e820"
}
.icon-bulb:before {
    content: "\e821"
}
.icon-pen2:before {
    content: "\e822"
}
.icon-diamond:before {
    content: "\e823"
}
.icon-display:before {
    content: "\e824"
}
.icon-location3:before {
    content: "\e825"
}
.icon-eye3:before {
    content: "\e826"
}
.icon-bubble3:before {
    content: "\e827"
}
.icon-stack2:before {
    content: "\e828"
}
.icon-cup:before {
    content: "\e829"
}
.icon-phone2:before {
    content: "\e82a"
}
.icon-news:before {
    content: "\e82b"
}
.icon-mail5:before {
    content: "\e82c"
}
.icon-like:before {
    content: "\e82d"
}
.icon-photo:before {
    content: "\e82e"
}
.icon-note:before {
    content: "\e82f"
}
.icon-clock4:before {
    content: "\e830"
}
.icon-paperplane:before {
    content: "\e831"
}
.icon-params:before {
    content: "\e832"
}
.icon-banknote:before {
    content: "\e833"
}
.icon-data:before {
    content: "\e834"
}
.icon-music2:before {
    content: "\e835"
}
.icon-megaphone:before {
    content: "\e836"
}
.icon-study:before {
    content: "\e837"
}
.icon-lab2:before {
    content: "\e838"
}
.icon-food2:before {
    content: "\e839"
}
.icon-t-shirt:before {
    content: "\e83a"
}
.icon-fire2:before {
    content: "\e83b"
}
.icon-clip:before {
    content: "\e83c"
}
.icon-shop:before {
    content: "\e83d"
}
.icon-calendar4:before {
    content: "\e83e"
}
.icon-wallet:before {
    content: "\e83f"
}
.icon-vynil:before {
    content: "\e840"
}
.icon-truck2:before {
    content: "\e841"
}
.icon-world:before {
    content: "\e840"
}
.icon-phone3:before {
    content: "\e843"
}
.icon-mob3:before {
    content: "\e844"
}
.icon-mouse:before {
    content: "\e845"
}
.icon-directions:before {
    content: "\e846"
}
.icon-mail6:before {
    content: "\e847"
}
.icon-paperplane2:before {
    content: "\e848"
}
.icon-pencil3:before {
    content: "\e849"
}
.icon-feather2:before {
    content: "\e84a"
}
.icon-paperclip:before {
    content: "\e84b"
}
.icon-drawer4:before {
    content: "\e84c"
}
.icon-reply2:before {
    content: "\e84d"
}
.icon-reply-all:before {
    content: "\e84e"
}
.icon-forward5:before {
    content: "\e84f"
}
.icon-user7:before {
    content: "\e850"
}
.icon-users4:before {
    content: "\e851"
}
.icon-user-add:before {
    content: "\e852"
}
.icon-vcard:before {
    content: "\e853"
}
.icon-export:before {
    content: "\e854"
}
.icon-location4:before {
    content: "\e855"
}
.icon-map3:before {
    content: "\e856"
}
.icon-compass2:before {
    content: "\e857"
}
.icon-location5:before {
    content: "\e858"
}
.icon-target2:before {
    content: "\e859"
}
.icon-share2:before {
    content: "\e85a"
}
.icon-sharable:before {
    content: "\e85b"
}
.icon-heart5:before {
    content: "\e85c"
}
.icon-heart6:before {
    content: "\e85d"
}
.icon-star5:before {
    content: "\e85e"
}
.icon-star6:before {
    content: "\e85f"
}
.icon-thumbsup:before {
    content: "\e860"
}
.icon-thumbsdown:before {
    content: "\e861"
}
.icon-chat2:before {
    content: "\e862"
}
.icon-comment:before {
    content: "\e863"
}
.icon-quote:before {
    content: "\e864"
}
.icon-house:before {
    content: "\e865"
}
.icon-popup:before {
    content: "\e866"
}
.icon-search4:before {
    content: "\e867"
}
.icon-flashlight:before {
    content: "\e868"
}
.icon-printer:before {
    content: "\e869"
}
.icon-bell2:before {
    content: "\e86a"
}
.icon-link2:before {
    content: "\e86b"
}
.icon-flag2:before {
    content: "\e86c"
}
.icon-cog3:before {
    content: "\e86d"
}
.icon-tools:before {
    content: "\e86e"
}
.icon-trophy2:before {
    content: "\e86f"
}
.icon-tag3:before {
    content: "\e870"
}
.icon-camera5:before {
    content: "\e871"
}
.icon-megaphone2:before {
    content: "\e872"
}
.icon-moon2:before {
    content: "\e873"
}
.icon-palette:before {
    content: "\e874"
}
.icon-leaf2:before {
    content: "\e875"
}
.icon-music3:before {
    content: "\e876"
}
.icon-music4:before {
    content: "\e877"
}
.icon-new:before {
    content: "\e878"
}
.icon-graduation:before {
    content: "\e879"
}
.icon-book3:before {
    content: "\e87a"
}
.icon-newspaper3:before {
    content: "\e87b"
}
.icon-bag:before {
    content: "\e87c"
}
.icon-airplane2:before {
    content: "\e87d"
}
.icon-lifebuoy:before {
    content: "\e87e"
}
.icon-eye4:before {
    content: "\e87f"
}
.icon-clock5:before {
    content: "\e880"
}
.icon-microphone:before {
    content: "\e881"
}
.icon-calendar5:before {
    content: "\e882"
}
.icon-bolt:before {
    content: "\e883"
}
.icon-thunder:before {
    content: "\e884"
}
.icon-droplet2:before {
    content: "\e885"
}
.icon-cd:before {
    content: "\e886"
}
.icon-briefcase2:before {
    content: "\e887"
}
.icon-air:before {
    content: "\e888"
}
.icon-hourglass:before {
    content: "\e889"
}
.icon-gauge:before {
    content: "\e88a"
}
.icon-language:before {
    content: "\e88b"
}
.icon-network:before {
    content: "\e88c"
}
.icon-key4:before {
    content: "\e88d"
}
.icon-battery:before {
    content: "\e88e"
}
.icon-bucket:before {
    content: "\e88f"
}
.icon-magnet2:before {
    content: "\e890"
}
.icon-drive:before {
    content: "\e891"
}
.icon-cup2:before {
    content: "\e892"
}
.icon-rocket2:before {
    content: "\e893"
}
.icon-brush:before {
    content: "\e894"
}
.icon-suitcase:before {
    content: "\e895"
}
.icon-cone:before {
    content: "\e896"
}
.icon-earth2:before {
    content: "\e897"
}
.icon-keyboard2:before {
    content: "\e898"
}
.icon-browser2:before {
    content: "\e899"
}
.icon-publish:before {
    content: "\e89a"
}
.icon-progress-3:before {
    content: "\e89b"
}
.icon-progress-2:before {
    content: "\e89c"
}
.icon-brogress-1:before {
    content: "\e89d"
}
.icon-progress-0:before {
    content: "\e89e"
}
.icon-sun:before {
    content: "\e89f"
}
.icon-sun2:before {
    content: "\e8a0"
}
.icon-adjust:before {
    content: "\e8a1"
}
.icon-code2:before {
    content: "\e8a2"
}
.icon-screen3:before {
    content: "\e8a3"
}
.icon-infinity:before {
    content: "\e8a4"
}
.icon-light-bulb:before {
    content: "\e8a5"
}
.icon-creditcard:before {
    content: "\e8a6"
}
.icon-database:before {
    content: "\e8a7"
}
.icon-voicemail:before {
    content: "\e8a8"
}
.icon-clipboard2:before {
    content: "\e8a9"
}
.icon-cart4:before {
    content: "\e8aa"
}
.icon-box:before {
    content: "\e8ab"
}
.icon-ticket2:before {
    content: "\e8ac"
}
.icon-rss:before {
    content: "\e8ad"
}
.icon-signal:before {
    content: "\e8ae"
}
.icon-thermometer:before {
    content: "\e8af"
}
.icon-droplets:before {
    content: "\e8b0"
}
.icon-uniE8B1:before {
    content: "\e8b1"
}
.icon-statistics:before {
    content: "\e8b2"
}
.icon-pie2:before {
    content: "\e8b3"
}
.icon-bars3:before {
    content: "\e8b4"
}
.icon-graph:before {
    content: "\e8b5"
}
.icon-lock4:before {
    content: "\e8b6"
}
.icon-lock-open:before {
    content: "\e8b7"
}
.icon-logout:before {
    content: "\e8b8"
}
.icon-login:before {
    content: "\e8b9"
}
.icon-checkmark3:before {
    content: "\e8ba"
}
.icon-line-scale:before {
    content: "\e8bb"
}
.icon-minus2:before {
    content: "\e8bc"
}
.icon-plus2:before {
    content: "\e8bd"
}
.icon-line-scale2:before {
    content: "\e8be"
}
.icon-minus3:before {
    content: "\e8bf"
}
.icon-plus3:before {
    content: "\e8c0"
}
.icon-line-scale3:before {
    content: "\e8c1"
}
.icon-minus4:before {
    content: "\e8c2"
}
.icon-plus4:before {
    content: "\e8c3"
}
.icon-erase:before {
    content: "\e8c4"
}
.icon-blocked2:before {
    content: "\e8c5"
}
.icon-info3:before {
    content: "\e8c6"
}
.icon-info4:before {
    content: "\e8c7"
}
.icon-question3:before {
    content: "\e8c8"
}
.icon-help:before {
    content: "\e8c9"
}
.icon-warning2:before {
    content: "\e8ca"
}
.icon-cycle:before {
    content: "\e8cb"
}
.icon-cw:before {
    content: "\e8cc"
}
.icon-ccw:before {
    content: "\e8cd"
}
.icon-shuffle2:before {
    content: "\e8ce"
}
.icon-arrow:before {
    content: "\e8cf"
}
.icon-arrow2:before {
    content: "\e8d0"
}
.icon-retweet:before {
    content: "\e8d1"
}
.icon-loop4:before {
    content: "\e8d2"
}
.icon-history2:before {
    content: "\e8d3"
}
.icon-back:before {
    content: "\e8d4"
}
.icon-switch2:before {
    content: "\e8d5"
}
.icon-list4:before {
    content: "\e8d6"
}
.icon-add-to-list:before {
    content: "\e8d7"
}
.icon-layout:before {
    content: "\e8d8"
}
.icon-list5:before {
    content: "\e8d9"
}
.icon-text:before {
    content: "\e8da"
}
.icon-text2:before {
    content: "\e8db"
}
.icon-document:before {
    content: "\e8dc"
}
.icon-docs:before {
    content: "\e8dd"
}
.icon-landscape:before {
    content: "\e8de"
}
.icon-pictures:before {
    content: "\e8df"
}
.icon-video2:before {
    content: "\e8e0"
}
.icon-music5:before {
    content: "\e8e1"
}
.icon-folder2:before {
    content: "\e8e2"
}
.icon-archive:before {
    content: "\e8e3"
}
.icon-trash3:before {
    content: "\e8e4"
}
.icon-upload4:before {
    content: "\e8e5"
}
.icon-download4:before {
    content: "\e8e6"
}
.icon-disk2:before {
    content: "\e8e7"
}
.icon-install:before {
    content: "\e8e8"
}
.icon-cloud4:before {
    content: "\e8e9"
}
.icon-upload5:before {
    content: "\e8ea"
}
.icon-bookmark2:before {
    content: "\e8eb"
}
.icon-bookmarks2:before {
    content: "\e8ec"
}
.icon-book4:before {
    content: "\e8ed"
}
.icon-play5:before {
    content: "\e8ee"
}
.icon-pause4:before {
    content: "\e8ef"
}
.icon-record:before {
    content: "\e8f0"
}
.icon-stop4:before {
    content: "\e8f1"
}
.icon-next2:before {
    content: "\e8f2"
}
.icon-previous2:before {
    content: "\e8f3"
}
.icon-first2:before {
    content: "\e8f4"
}
.icon-last2:before {
    content: "\e8f5"
}
.icon-resize-enlarge:before {
    content: "\e8f6"
}
.icon-resize-shrink:before {
    content: "\e8f7"
}
.icon-volume:before {
    content: "\e8f8"
}
.icon-sound3:before {
    content: "\e8f9"
}
.icon-mute:before {
    content: "\e8fa"
}
.icon-flow-cascade:before {
    content: "\e8fb"
}
.icon-flow-branch:before {
    content: "\e8fc"
}
.icon-flow-tree:before {
    content: "\e8fd"
}
.icon-flow-line:before {
    content: "\e8fe"
}
.icon-flow-parallel:before {
    content: "\e8ff"
}
.icon-arrow-left4:before {
    content: "\e900"
}
.icon-arrow-down4:before {
    content: "\e901"
}
.icon-arrow-up-upload:before {
    content: "\e902"
}
.icon-arrow-right4:before {
    content: "\e903"
}
.icon-arrow-left5:before {
    content: "\e904"
}
.icon-arrow-down5:before {
    content: "\e905"
}
.icon-arrow-up4:before {
    content: "\e906"
}
.icon-arrow-right5:before {
    content: "\e907"
}
.icon-arrow-left6:before {
    content: "\e908"
}
.icon-arrow-down6:before {
    content: "\e909"
}
.icon-arrow-up5:before {
    content: "\e90a"
}
.icon-arrow-right6:before {
    content: "\e90b"
}
.icon-arrow-left7:before {
    content: "\e90c"
}
.icon-arrow-down7:before {
    content: "\e90d"
}
.icon-arrow-up6:before {
    content: "\e90e"
}
.icon-arrow-right7:before {
    content: "\e90f"
}
.icon-arrow-left8:before {
    content: "\e910"
}
.icon-arrow-down8:before {
    content: "\e911"
}
.icon-arrow-up7:before {
    content: "\e912"
}
.icon-arrow-right8:before {
    content: "\e913"
}
.icon-arrow-left9:before {
    content: "\e914"
}
.icon-arrow-down9:before {
    content: "\e915"
}
.icon-arrow-up8:before {
    content: "\e916"
}
.icon-arrow-right9:before {
    content: "\e917"
}
.icon-arrow-left10:before {
    content: "\e918"
}
.icon-arrow-down10:before {
    content: "\e919"
}
.icon-arrow-up9:before {
    content: "\e91a"
}
.icon-uniE91B:before {
    content: "\e91b"
}
.icon-arrow-left11:before {
    content: "\e91c"
}
.icon-arrow-down11:before {
    content: "\e91d"
}
.icon-arrow-up10:before {
    content: "\e91e"
}
.icon-arrow-right10:before {
    content: "\e91f"
}
.icon-menu4:before {
    content: "\e920"
}
.icon-ellipsis:before {
    content: "\e921"
}
.icon-dots:before {
    content: "\e922"
}
.icon-dot:before {
    content: "\e923"
}
.icon-cc:before {
    content: "\e924"
}
.icon-cc-by:before {
    content: "\e925"
}
.icon-cc-nc:before {
    content: "\e926"
}
.icon-cc-nc-eu:before {
    content: "\e927"
}
.icon-cc-nc-jp:before {
    content: "\e928"
}
.icon-cc-sa:before {
    content: "\e929"
}
.icon-cc-nd:before {
    content: "\e92a"
}
.icon-cc-pd:before {
    content: "\e92b"
}
.icon-cc-zero:before {
    content: "\e92c"
}
.icon-cc-share:before {
    content: "\e92d"
}
.icon-cc-share2:before {
    content: "\e92e"
}
.icon-danielbruce:before {
    content: "\e92f"
}
.icon-danielbruce2:before {
    content: "\e930"
}
.icon-github6:before {
    content: "\e931"
}
.icon-github7:before {
    content: "\e932"
}
.icon-flickr5:before {
    content: "\e933"
}
.icon-flickr6:before {
    content: "\e934"
}
.icon-vimeo4:before {
    content: "\e935"
}
.icon-vimeo5:before {
    content: "\e936"
}
.icon-twitter4:before {
    content: "\e937"
}
.icon-twitter5:before {
    content: "\e938"
}
.icon-facebook5:before {
    content: "\e939"
}
.icon-facebook6:before {
    content: "\e93a"
}
.icon-facebook7:before {
    content: "\e93b"
}
.icon-googleplus6:before {
    content: "\e93c"
}
.icon-googleplus7:before {
    content: "\e93d"
}
.icon-pinterest3:before {
    content: "\e93e"
}
.icon-pinterest4:before {
    content: "\e93f"
}
.icon-tumblr3:before {
    content: "\e940"
}
.icon-tumblr4:before {
    content: "\e941"
}
.icon-linkedin2:before {
    content: "\e940"
}
.icon-linkedin3:before {
    content: "\e943"
}
.icon-dribbble5:before {
    content: "\e944"
}
.icon-dribbble6:before {
    content: "\e945"
}
.icon-stumbleupon3:before {
    content: "\e946"
}
.icon-stumbleupon4:before {
    content: "\e947"
}
.icon-lastfm3:before {
    content: "\e948"
}
.icon-lastfm4:before {
    content: "\e949"
}
.icon-rdio:before {
    content: "\e94a"
}
.icon-rdio2:before {
    content: "\e94b"
}
.icon-spotify:before {
    content: "\e94c"
}
.icon-spotify2:before {
    content: "\e95b"
}
.icon-qq:before {
    content: "\e95c"
}
.icon-instagram3:before {
    content: "\e95d"
}
.icon-dropbox:before {
    content: "\e95e"
}
.icon-evernote:before {
    content: "\e94d"
}
.icon-flattr2:before {
    content: "\e94e"
}
.icon-skype2:before {
    content: "\e94f"
}
.icon-skype3:before {
    content: "\e950"
}
.icon-renren:before {
    content: "\e951"
}
.icon-sina-weibo:before {
    content: "\e952"
}
.icon-paypal4:before {
    content: "\e953"
}
.icon-picasa:before {
    content: "\e954"
}
.icon-soundcloud3:before {
    content: "\e955"
}
.icon-mixi:before {
    content: "\e956"
}
.icon-behance:before {
    content: "\e957"
}
.icon-circles:before {
    content: "\e958"
}
.icon-vk:before {
    content: "\e959"
}
.icon-smashing:before {
    content: "\e95a"
}

.custom-scroll-bar {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    z-index: 1000
}


.nz-clearfix:after {
    content: "";
    display: table;
    clear: both
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word
}

.single-post-image img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.page-link {
    margin-top: 77px;
}

.page-link a {
  
    padding: 7px;
    color: #ffffff;
}

/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

.c-postfooter .menu-all-pages-container .sub-menu {
    display: none;
}